h1 {
    color: #F4A896
}

h2 {
    color: white
}

.navbar-toggler-icon {
    color: #F4A896;
    padding-left: 20px;
    font-size: 200%
}

.navbar-brand {
    color: #F4A896
}

.row {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 5px #F4A896;
}

button {
    background-color: #F4A896;
    color: #358597
}