header {
    background-color: #080F5B;
}

h1,
h2,
h3 {
    color: #15DB95
}

a {
    color: white;
    padding: 10px
}

a:hover {
    color: #15DB95;
    text-decoration: none;
}


/* navbar */

nav {
    background-color: #080F5B;
}

.navbar-toggler-icon {
    color: white;
    padding-left: 20px;
    font-size: 200%
}

.navbar-brand {
    color: white
}

.navbar-nav {
    list-style-type: none;
}


/* rows and columns */

.row {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 5px #15DB95;
    border-style: outset;
    background-color: #080F5B;
}


/* form */

form {
    margin: 10px;
    padding: 10 px;
}

label {
    font-weight: bold;
    font-size: 1.5em;
    color: white
}

input,
textarea {
    border: solid 1px #F4E4C1;
    width: 100%;
}


/* table */

.table {
    color: white;
    padding: 10px
}

td,
th {
    padding: 10px;
    border: solid white 2px;
    max-width: 300px
}


/* buttons */

button.save.btn.btn-default {
    background-color: #15DB95;
    margin: 10px
}

button.save.btn.btn-default:hover {
    color: white;
}


/* lists */

li {
    list-style-type: none;
    color: white
}