{% extends "base.html" %} {% block content %}

<div class='container-fluid'>
    <div class="row">
        <h1>Hi, {{ user.username }}!</h1>
        <h2>Thought for the day: {{ random_quotation.contents}} </h2>
    </div>

    <div class="row">
        <h2>Add a task</h2>
        <form action="/tasks" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" />
            <label for="description">Description:</label>
            <textarea name="description" id="description" rows="4" cols="40"></textarea>
            <button type="submit" class="save btn btn-default" value="Add Task">Add Task</button>
        </form>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Your tasks</h2>
            <div class="table table-striped table-responsive-sm">
                <table>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Status</th>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>

                        {% if task.done %}
                        <td>
                            <span> &#9989;</span> {% else %}
                            <span>
                        </td>
                        <td>
                            <form style="display:inline" action="/tasks/{{task.id}}" method="POST">
                                <button type="submit" class="save btn btn-default" value="Mark as complete">Mark complete</button>
                            </form>
                            </span>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</div>